# Python cache
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/
local_embeddings/
.vscode/

*.env
.env
ServiceAccountKey.json
database/ServiceAccountKey.json
database/ServiceAccountKey.b64
dummy_run.sh

# Jupyter notebooks
*.ipynb
.ipynb_checkpoints/

# Git
.git/
.gitignore

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log

# Datasets / Large files
*.csv
*.h5
*.pkl
*.pth
*.pt
*.zip
*.tar
*.tar.gz
*.pb
*.onnx
# Build outputs
build/
dist/
*.egg-info/

# Node / Frontend (nếu có UI riêng)
node_modules/
npm-debug.log
yarn-error.log

