.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
.env
database/ServiceAccountKey.json


weights/
pretrained/
retinaface-R50/
checkpoints/
*.h5
*.pth
*.onnx
*.tflite
*.pb
*.npy
*.csv
*.zip
*.tar.gz
*.tar
*.json
*.pickle
*.pkl

logs/
*.log

datasets/
dataset/
data/
local_embeddings/

